@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
    color: #000;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,87,53,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
svg {
    background-color:#a6a6a6;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

.bar {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    fill: #4a4a4a;
}

.bar:hover {
    fill: #dddddd;
}

g {
    color: #dddddd;
}

#tooltip {
    margin-top: 10px;
    font-size: 28px;
    border-radius: 5px;
}

#title {
    font-size: 30px;
    fill: #000
}